<link rel="stylesheet" href="../../../css/site.css" />
<div id="loadModal">
    <form class="form-verical" ng-submit="c.saveLoad()">
        <fieldset>
            <legend>Enter Load Info:</legend>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Age</label><br>
                <input placeholder="Age (ex. 8m for 8 months)" ng-model="c.load.age" />

            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Miles</label><br>
                <input placeholder="Miles" ng-model="c.load.miles" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Origin</label><br>
                <input placeholder="Origin City" ng-model="c.load.origin" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">State</label><br>
                <input placeholder="Origin City" ng-model="c.load.originState" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Destination</label><br>
                <input placeholder="Destination City" ng-model="c.load.destination" />
            </div>
            <div class="form-group">
                <label>State</label><br>
                <input placeholder="Origin City" ng-model="c.load.destinationState" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Trailer</label><br>
                <input placeholder="R of V" ng-model="c.load.trialerType" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Load Size</label><br>
                <input placeholder="Load Size" ng-model="c.load.loadSize" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Length</label><br>
                <input placeholder="Truck Length Needed" ng-model="c.load.length" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Weight</label><br>
                <input placeholder="Load Weight" ng-model="c.load.weight" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Pay Rate</label><br>
                <input placeholder="Pay Rate" ng-model="c.load.payRate" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Pick Up By</label><br>
                <input placeholder="Pick Up Date (ex. Dec 12)" ng-model="c.load.shipDate" />
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess">Company</label><br>
                <input placeholder="Company Name" ng-model="c.load.company" />
            </div>
            <input type="submit" class="btn btn-primary" value="Add Load" />
        </fieldset>

    </form>
</div>

