<h2>Admin Page</h2>

<h2>Trucks</h2>

<form ng-show="c.save()">
    <table class="table table-bordered table-striped">
        <thread>
            <tr>
                <th>Origin</th>
                <th>State</th>
                <th>Destination</th>
                <th>State</th>
                <th>Trailer</th>
                <th>Ship Date</th>
                <th>Company</th>
            </tr>


            <tbody>
                <tr>
                    <td>{{truck.origin}}</td>
                    <td>{{truck.originState}}</td>
                    <td>{{truck.destination}}</td>
                    <td>{{truck.destinationState}}</td>
                    <td>{{truck.trailerType}}</td>
                    <td>{{truck.shipDate}}</td>
                    <td>{{truck.company}}</td>
                    <!--<td><a ui-sref="/truckdetails/{{truck.id}}" class="btn btn-danger">Select</a></td>-->
                    <!--<td><a ng-href="/deleteMovie/{{truck.id}}" class="btn btn-primary">Delete</a></td>-->
                </tr>
            </tbody>
        </thread>
    </table>


</form>
<ul>
    <li ng-repeat="trucks in c.trucks">
        {{truck.origin}}
    </li>
</ul>

<h2>Loads</h2>
<form ng-show="c.save()">
    <table class="table table-bordered table-striped">
        <thread>
            <tr>
                <th>Age</th>
                <th>Miles</th>
                <th>Origin</th>
                <th>State</th>
                <th>Destination</th>
                <th>State</th>
                <th>Trailer</th>
                <th>Load Size</th>
                <th>Length</th>
                <th>Weight</th>
                <th>Pay Rate</th>
                <th>Ship Date</th>
                <th>Company</th>
                <th>Make a Selection</th>
                <!--<th>Action</th>-->

            </tr>


            <tbody>
                <tr ng-repeat="load in c.loads">
                    <td>{{load.age}}</td>
                    <td>{{load.miles}}</td>
                    <td>{{load.origin}}</td>
                    <td>{{load.originState}}</td>
                    <td>{{load.destination}}</td>
                    <td>{{load.destinationState}}</td>
                    <td>{{load.trailerType}}</td>
                    <td>{{load.loadSize}}</td>
                    <td>{{load.length}}</td>
                    <td>{{load.weight}}</td>
                    <td>{{load.payRate}}</td>
                    <td>{{load.shipDate}}</td>
                    <td>{{load.company}}</td>
                    <td><a ng-href="/loadkDetails/{{load.id}}" class="btn btn-success">Select</a></td>
                    <!--<td><a ng-href="/deleteMovie/{{movie.id}}" class="btn btn-primary">Delete</a></td>-->
                </tr>
            </tbody>
        </thread>
    </table>


</form>