<h2>Admin Page</h2>

<h2>Trucks</h2>
<a ui-sref="addTruck" class="btn btn-primary">
    Add Truck
</a>

<table class="table table-striped table-hover">
        <thread>
            <tr class="alert-info">
                <th>Origin</th>
                <th>State</th>
                <th>Destination</th>
                <th>State</th>
                <th>Trailer</th>
                <th>Ship Date</th>
                <th>Action</th>
                <th>Action</th>
                <th>Company</th>
            </tr>
        </thread>


        <thread>
            <tbody>
                <tr class="info" ng-repeat="truck in c.trucks">
                    <td>{{truck.origin}}</td>
                    <td>{{truck.originState}}</td>
                    <td>{{truck.destination}}</td>
                    <td>{{truck.destinationState}}</td>
                    <td>{{truck.trailerType}}</td>
                    <td>{{truck.shipDate}}</td>
                    <td>{{truck.company}}</td>
                    <td><a ng-href="/editTruck/{{truck.id}}" class="btn btn-primary">Edit</a></td>
                    <<td><a ng-href="/deleteTruck/{{truck.id}}" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </thread>
    </table>




<h2>Loads</h2>
<a ui-sref="addLoad" class="btn btn-primary">
    Add Load
</a>
    <table class="table table-striped table-hover">
        <thread>
            <tr class="alert-info">
                <th>Age</th>
                <th>Miles</th>
                <th>Origin</th>
                <th>State</th>
                <th>Destination</th>
                <th>State</th>
                <th>Trailer</th>
                <th>Load Size</th>
                <th>Length</th>
                <th>Weight</th>
                <th>Pay Rate</th>
                <th>Ship Date</th>
                <th>Company</th>
                <th>Action</th>
                <th>Action</th>
             
                

            </tr>


            <tbody>
                <tr class="info" ng-repeat="load in c.loads">
                    <td>{{load.age}}</td>
                    <td>{{load.miles}}</td>
                    <td>{{load.origin}}</td>
                    <td>{{load.originState}}</td>
                    <td>{{load.destination}}</td>
                    <td>{{load.destinationState}}</td>
                    <td>{{load.trailerType}}</td>
                    <td>{{load.loadSize}}</td>
                    <td>{{load.length}}</td>
                    <td>{{load.weight}}</td>
                    <td>{{load.payRate}}</td>
                    <td>{{load.shipDate}}</td>
                    <td>{{load.company}}</td>
                    <td><a ng-href="/editLoad/{{load.id}}" class="btn  btn-primary">Edit</a></td>
                    <td><a ng-href="/deleteLoad/{{load.id}}" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </thread>
    </table>




