<link rel="stylesheet" href="../../../css/site.css" />
<h1>Loads</h1>


<div id="addLoadBackground">
    <table class="table table-striped table-hover">
        <thread>
            <tr class="alert-info">
                <th>Age</th>
                <th>Miles</th>
                <th>Origin</th>
                <th>State</th>
                <th>Destination</th>
                <th>State</th>
                <th>Trailer</th>
                <th>Load Size</th>
                <th>Length</th>
                <th>Weight</th>
                <th>Pay Rate</th>
                <th>Ship Date</th>
                <th>Company</th>
                <th>Make a Selection</th>
                <!--<th>Action</th>-->

            </tr>
        </thread>


        <tbody>
            <tr ng-repeat="load in c.loads">
                <td>{{load.age}}</td>
                <td>{{load.miles}}</td>
                <td>{{load.origin}}</td>
                <td>{{load.originState}}</td>
                <td>{{load.destination}}</td>
                <td>{{load.destinationState}}</td>
                <td>{{load.trailerType}}</td>
                <td>{{load.loadSize}}</td>
                <td>{{load.length}}</td>
                <td>{{load.weight}}</td>
                <td>{{load.payRate}}</td>
                <td>{{load.shipDate}}</td>
                <td>{{load.company}}</td>
                <td><a ng-href="/loadDetails/{{load.id}}" class="btn btn-success">Select</a></td>

            </tr>
        </tbody>
    </table>
</div>

                <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <!--<div class="container">
                    <button type="button" ng-click="c.truckModal(truckId)" class="btn btn-info-md" id="myBtn">Want to Add a Load for Drivers to see?</button>
                </div>-->