<h1>Your List Of Available Loads</h1>

<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>Age</th>
            <th>Miles</th>
            <th>Origin</th>
            <th>State</th>
            <th>Destination</th>
            <th>State</th>
            <th>Trailer</th>
            <th>Load Size</th>
            <th>Length</th>
            <th>Weight</th>
            <th>Pay Rate</th>
            <th>Ship Date</th>
            <th>Company</th>
           
           

        </tr>
    </thread>


    <tbody>
        <tr ng-model="c.loads">
            <td>{{c.load.age}}</td>
            <td>{{c.load.miles}}</td>
            <td>{{c.load.origin}}</td>
            <td>{{c.load.originState}}</td>
            <td>{{c.load.destination}}</td>
            <td>{{c.load.destinationState}}</td>
            <td>{{c.load.trailerType}}</td>
            <td>{{c.load.loadSize}}</td>
            <td>{{c.load.length}}</td>
            <td>{{c.load.weight}}</td>
            <td>{{c.load.payRate}}</td>
            <td>{{c.load.shipDate}}</td>
            <td>{{c.load.company}}</td>
           
        </tr>
    </tbody>
</table>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--//TruckModal-->
<div class="container">
    <button type="button" ng-click="c.truckModal(truckId)" class="btn btn-info-md" id="myBtn">Want to Add a Truck for Shippers to see?</button>
</div>








