<link rel="stylesheet" href="../../../css/site.css" />
<h2>Trucks</h2>
<p>
    {{c.message}}
</p>
<div id="addTruckBackground">
    <table class="table table-striped table-hover">
        <thread>
            <tr>
                <th>Origin</th>
                <th>State</th>
                <th>Destination</th>
                <th>State</th>
                <th>Trailer</th>
                <th>Ship Date</th>
                <th>Company</th>
                <th>Make a Selection</th>
                <!--<th>Action</th>-->

            </tr>
        </thread>


        <tbody>
            <tr ng-repeat="truck in c.trucks">
                <td>{{truck.origin}}</td>
                <td>{{truck.originState}}</td>
                <td>{{truck.destination}}</td>
                <td>{{truck.destinationState}}</td>
                <td>{{truck.trailerType}}</td>
                <td>{{truck.shipDate}}</td>
                <td>{{truck.company}}</td>
                <td><a ng-href="/truckDetails/{{truck.id}}" class="btn btn-success">Select</a></td>

            </tr>
        </tbody>
    </table>
</div>

                <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <!--<div class="container">
                    <button type="button" ng-click="c.loadModal(loadId)" class="btn btn-info-md" id="myBtn">Want to Add a Load for Drivers to see?</button>
                </div>-->