<h2>Trucks</h2>
<p>
    {{c.message}}
</p>
<!--//1st attempt to add dropdown-->
<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>Origin</th>
            <th>State</th>
            <th>Destination</th>
            <th>State</th>
            <th>Trailer</th>
            <th>Ship Date</th>
            <th>Company</th>
            <th>Make a Selection</th>
            <!--<th>Action</th>-->

        </tr>
    </thread>


    <tbody>
        <tr ng-repeat="truck in c.trucks">
            <td>{{truck.origin}}</td>
            <td>{{truck.originState}}</td>
            <td>{{truck.destination}}</td>
            <td>{{truck.destinationState}}</td>
            <td>{{truck.trailerType}}</td>
            <td>{{truck.shipDate}}</td>
            <td>{{truck.company}}</td>
            <td><a ng-href="/truckDetails/{{truck.id}}" class="btn btn-success">Select</a></td>
            <!--<td><a ng-href="/deleteMovie/{{movie.id}}" class="btn btn-primary">Delete</a></td>-->
        </tr>
    </tbody>
</table>


<div class="container">
    <button type="button" ng-click="c.addLoadModal()" class="btn btn-info-md" id="myBtn">Want to Add a Load for Drivers to see?</button>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add </h4>
            </div>
            <div class="modal-body">
                <p>Add A Load.</p>
            </div>
            <div>
                <form ng-submit="c.save()">
                    <div>
                        <label>Age</label>
                        <input placeholder="Age (ex. 8m for 8 months)" ng-model="c.load.age" />

                    </div>
                    <div>
                        <label>Miles</label>
                        <input placeholder="Miles" ng-model="c.load.miles" />
                    </div>
                    <div>
                        <label>Origin</label>
                        <input placeholder="Origin City" ng-model="c.load.orgin" />
                    </div>
                    <div>
                        <label>Destination</label>
                        <input placeholder="Destination City" ng-model="c.load.destination" />
                    </div>
                    <div>
                        <label>Trailer</label>
                        <input placeholder="R of V" ng-model="c.load.trialerType" />
                    </div>
                    <div>
                        <label>Load Size</label>
                        <input placeholder="Load Size" ng-model="c.load.loadSize" />
                    </div>
                    <div>
                        <label>Length</label>
                        <input placeholder="Truck Length Needed" ng-model="c.load.length" />
                    </div>
                    <div>
                        <label>Weight</label>
                        <input placeholder="Load Weight" ng-model="c.load.weight" />
                    </div>
                    <div>
                        <label>Pay Rate</label>
                        <input placeholder="Pay Rate" ng-model="c.load.payRate" />
                    </div>
                    <div>
                        <label>Pick Up By</label>
                        <input placeholder="Pick Up Date (ex. Dec 12)" ng-model="c.load.shipDate" />
                    </div>
                    <div>
                        <label>Company</label>
                        <input placeholder="Company Name" ng-model="c.load.company" />
                    </div>
                    <


                </form>

            </div>
            <div class="modal-footer">
                <input type="submit"class="btn btn-success" value="Add Load" />
            </div>
        </div>

    </div>
</div>
