<h1>Your List of Available Trucks</h1>

<form>
    <table class="table table-bordered table-striped">
        <thread>
            <tr>
                <th>Origin</th>
                <th>State</th>
                <th>Destination</th>
                <th>State</th>
                <th>Trailer</th>
                <th>Ship Date</th>
                <th>Company</th>
            </tr>
            <tbody>
                <tr ng-model="c.truck">
                    <td>{{c.truck.origin}}</td>
                    <td>{{c.truck.originState}}</td>
                    <td>{{c.truck.destination}}</td>
                    <td>{{c.truck.destinationState}}</td>
                    <td>{{c.truck.trailerType}}</td>
                    <td>{{c.truck.shipDate}}</td>
                    <td>{{c.truck.company}}</td>



                </tr>

            </tbody>
        </thread>

    </table>


</form>


<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="container">
    <button type="button" ng-click="c.loadModal(loadId)" class="btn btn-info-md" id="myBtn">Want to Add a Load for Drivers to see?</button>
</div>
